# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Here's a short explanation of each component:

# USER: The name of your database user
# PASSWORD: The password for your database user
# HOST: The name of your host name (for the local environment, it is localhost)
# PORT: The port where your database server is running (typically 5432 for PostgreSQL)
# DATABASE: The name of the database
# SCHEMA: The name of the schema inside the database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
# OAuth with github
GITHUB_ID=""
GITHUB_SECRET=""
# Key for deployment
NEXTAUTH_URL="https://example.com"
# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=""
# In your local should be "http://localhost:3000"
AUTH_URL=""